::selection {
  color: #fff;
  background-color: #273b98;
  filter: none;
}
::selection:hover {
  filter: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: 1.15rem;
  color: #273b98;
}
body .button {
  cursor: pointer;
  padding: 10px 15px;
  width: max-content;
  font-weight: 500;
  border-radius: 8px;
  outline: 1.5px solid #273b98;
  background: #273b98;
  color: #fff;
  border: none;
  outline: none;
  transition: 0.1s;
}
body .button:active {
  scale: 0.95;
}
body .button:hover {
  outline: 1.5px solid #273b98;
  background: #fff;
  color: #273b98;
  font-weight: 600;
}
body .button img {
  margin: 2.5px 0;
  width: 100%;
  filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(12%) hue-rotate(180deg) brightness(103%) contrast(104%);
}
body .button:hover > img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .button2 {
  cursor: pointer;
  padding: 10px 15px;
  width: max-content;
  font-weight: 500;
  border-radius: 8px;
  outline: 1.5px solid #273b98;
  background: #fff;
  color: #273b98;
  border: none;
  outline: none;
  transition: 0.1s;
}
body .button2:active {
  scale: 0.95;
}
body .button2:hover {
  outline: 1.5px solid #fff;
  background: #273b98;
  color: #fff;
  font-weight: 600;
}
body .button2 img {
  margin: 2.5px 0;
  width: 100%;
  filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(12%) hue-rotate(180deg) brightness(103%) contrast(104%);
}
body .button2:hover > img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .button-circle {
  border-radius: 1000px;
}
body .navigation-user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  width: 100vw;
}
body .navigation-user .backdrop {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
body .navigation-user .backdrop.show {
  display: block;
}
body .navigation-user .left {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: start;
}
body .navigation-user .left a {
  width: fit-content;
}
body .navigation-user .left a img {
  width: 40%;
  height: auto;
}
body .navigation-user .center {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
}
body .navigation-user .center .links {
  display: flex;
  gap: 10px;
}
body .navigation-user .center .links a {
  position: relative;
  font-weight: 400;
  color: #273b98;
}
body .navigation-user .center .links a::after {
  transition: 0.4s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  background-color: #273b98;
}
body .navigation-user .center .links a:hover::after {
  width: 100%;
}
body .navigation-user .right {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: right;
  position: relative;
  gap: 10px;
}
body .navigation-user .right .float {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  right: 0;
  top: 60px;
  width: max-content;
  height: max-content;
  max-height: 1000px;
  outline: 2px solid #273b98;
  z-index: 6;
  border-radius: 10px;
  background-color: #fff;
}
body .navigation-user .right .float a {
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
  transition: 0.1s, visibility 0s;
}
body .navigation-user .right .float a .img-container {
  width: 20%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
body .navigation-user .right .float a .img-container img {
  width: 100%;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(20%) sepia(47%) saturate(2699%) hue-rotate(214deg) brightness(93%) contrast(94%);
}
body .navigation-user .right .float a p {
  padding: 10px;
  width: 80%;
}
body .navigation-user .right .float a:hover {
  background-color: #eaf7f9;
  border-radius: 10px;
}
body .navigation-user .right .float.show {
  visibility: visible;
}
body .wrapper-user .dashboard {
  padding: 20px;
}
body .wrapper-user .dashboard .hugeimg {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/7;
  border-radius: 8px;
  margin-bottom: 40px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%), url(/public/images/dashboard-img-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}
body .wrapper-user .dashboard .hugeimg::before {
  border-radius: 8px;
  position: absolute;
  inset: 0;
  content: "";
  background: rgba(0, 0, 0, 0.3843137255);
  z-index: 2;
}
body .wrapper-user .dashboard .hugeimg h1 {
  z-index: 3;
  font-size: 9vw;
  color: #fff;
  margin: 0 0 20px 0;
}
body .wrapper-user .dashboard .hugeimg img {
  z-index: 3;
  width: 60%;
  aspect-ratio: 16/3;
}
body .wrapper-user .dashboard .category-section {
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px 25px;
}
body .wrapper-user .dashboard .category-section .category-tab {
  height: 270px;
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper-user .dashboard .category-section .category-tab img {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #000;
}
body .wrapper-user .dashboard .category-section .category-tab .vignette {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  opacity: 0.5;
  z-index: 2;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
}
body .wrapper-user .dashboard .category-section .category-tab p {
  position: relative;
  font-size: 0.85rem;
  z-index: 3;
  color: #fff;
  font-weight: 500;
  width: 200px;
}
body .wrapper-user .dashboard .category-section .category-tab h3 {
  position: relative;
  z-index: 3;
  color: #fff;
  font-weight: 700;
}
body .wrapper-user .dashboard .category-section .category-tab::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(/public/icons/Arrow_Up_Right_MD.png), #273b98;
  background-size: cover;
  outline: 10px solid #fff;
  bottom: 0;
  right: 0;
  z-index: 4;
  border-radius: 30px;
}
body .wrapper-user .dashboard .faq-page {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px;
}
body .wrapper-user .dashboard .faq-page h2 {
  margin-bottom: 15px;
}
body .wrapper-user .dashboard .faq-page .faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .wrapper-user .dashboard .faq-page .faq-list details summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
body .wrapper-user .dashboard .faq-page .faq-list details summary img {
  filter: invert(18%) sepia(35%) saturate(4223%) hue-rotate(221deg) brightness(98%) contrast(97%);
  transition: 0.1s;
}
body .wrapper-user .dashboard .faq-page .faq-list details summary h3 {
  font-weight: 600;
}
body .wrapper-user .dashboard .faq-page .faq-list details summary:hover {
  background-color: #eaf7f9;
  transition: 0.1s;
}
body .wrapper-user .dashboard .faq-page .faq-list details p {
  padding-left: 10px;
  margin-top: 10px;
}
body .wrapper-user .dashboard .faq-page .faq-list details:open summary img {
  rotate: 180deg;
}
body .products {
  width: 100%;
  height: 100%;
  background-color: #eaf7f9;
  display: flex;
  padding: 40px 0;
}
body .products .products-group {
  width: 65%;
  height: max-content;
  background: #eaf7f9;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
body .products .products-group .product {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 250px;
  height: max-content;
  transition: 0.1s;
  padding: 20px;
}
body .products .products-group .product span {
  border-radius: 8px;
  position: relative;
}
body .products .products-group .product span img {
  border-radius: inherit;
  width: 100%;
  margin-bottom: 10px;
}
body .products .products-group .product h3 {
  color: rgba(0, 0, 0, 0.8274509804);
  font-size: 1.15rem;
  white-space: nowrap;
  font-weight: 500;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .products .products-group .product p {
  color: rgba(0, 0, 0, 0.537254902);
  font-size: 1rem;
  width: 200px;
  text-overflow: ellipsis;
}
body .products .products-group .product:hover p, body .products .products-group .product:hover h3 {
  color: #273b98;
  opacity: 1;
}
body .products .products-group .product.out {
  pointer-events: none;
  cursor: default;
}
body .products .products-group .product.out p:nth-of-type(2) {
  color: red;
}
body .products .products-group .product.out span img {
  filter: brightness(1.2);
}
body .products .products-group .product.out span::after {
  content: "STOK HABIS";
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .products .products-group .product.out:hover h3 {
  color: rgba(0, 0, 0, 0.8274509804);
}
body .products .products-group .product.out:hover p {
  color: rgba(0, 0, 0, 0.537254902);
}
body .products .filter {
  background-color: #fff;
  width: 35%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px 0 0 8px;
}
body .products .filter form {
  display: flex;
  border-bottom: 2px solid #273b98;
  align-items: center;
}
body .products .filter form input {
  width: 100%;
  height: max-content;
  border: none;
  outline: none;
  font-size: 1.15rem;
  padding: 10px;
  color: #273b98;
  transition: 0.1s;
}
body .products .filter form input::placeholder {
  opacity: 0.8;
  color: #273b98;
}
body .products .filter form button {
  width: max-content;
  height: max-content;
  padding: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
body .products .filter form button img {
  width: 20px;
  filter: invert(18%) sepia(35%) saturate(4223%) hue-rotate(221deg) brightness(98%) contrast(97%);
}
body .products .filter h2 {
  border-bottom: 1px solid #eaf7f9;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  padding: 10px 0;
  align-items: center;
}
body .products .filter h2 img {
  transition: 0.1s;
  filter: invert(18%) sepia(35%) saturate(4223%) hue-rotate(221deg) brightness(98%) contrast(97%);
}
body .products .filter .toggle-filter.open img {
  transform: rotate(180deg);
}
body .products .filter .content-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
body .products .filter .content-filter p {
  border-bottom: 1px solid #eaf7f9;
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.7607843137);
}
body .products .filter .content-filter p:hover {
  color: #273b98;
}
body .products .filter .content-filter.open {
  max-height: 1000px;
}
body .detailproduct {
  padding: 50px;
  height: max-content;
}
body .detailproduct .container {
  display: flex;
  width: 100%;
}
body .detailproduct .container .left {
  width: 40%;
  height: max-content;
}
body .detailproduct .container .left img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 3/4;
}
body .detailproduct .container .right {
  height: 100%;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .detailproduct .container .right h3 {
  font-weight: 500;
}
body .detailproduct .container .right label {
  font-weight: 400;
}
body .detailproduct .container .right h4 {
  font-size: 0.85rem;
  font-weight: 500;
  text-decoration: underline;
  color: #273b98;
}
body .detailproduct .container .right .radio-selector {
  display: flex;
  gap: 10px;
}
body .detailproduct .container .right .radio-selector .radio-tab {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.15rem;
  padding: 10px;
  outline: 3px solid #273b98;
  color: #273b98;
  transition: 0.1s scale;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .detailproduct .container .right .radio-selector .radio-tab:active {
  scale: 0.9;
}
body .detailproduct .container .right .radio-selector .radio-tab.picked {
  font-weight: 600;
  background-color: #273b98;
  filter: none;
  color: #fff;
}
body .detailproduct .container .right .input-tab {
  padding: 10px;
  font-size: 1rem;
  color: #273b98;
  border-radius: 8px;
  width: 50px;
  border: none;
  outline: 2px solid #273b98;
}
body .detailproduct .container .right .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .detailproduct .container .right .bottom .counter {
  display: flex;
  gap: 5px;
  outline: 2px solid #273b98;
  border-radius: 50px;
  width: max-content;
  padding: 10px;
}
body .detailproduct .container .right .bottom .counter input {
  width: 70px;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #273b98;
}
body .detailproduct .container .right .bottom .counter input:active {
  outline: nones;
}
body .detailproduct .container .right .bottom .counter img {
  cursor: pointer;
  transition: 0.1s;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .detailproduct .container .right .bottom .counter img:hover {
  scale: 1.1;
}
body .detailproduct .container .right .bottom .counter img:active {
  scale: 1;
}
body .cart {
  width: 100%;
  padding: 40px;
  display: flex;
  gap: 10px;
  background-color: #eaf7f9;
}
body .cart .products-list {
  border-radius: 8px;
  width: 75%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .cart .products-list .product {
  width: 100%;
  height: 200px;
  gap: 10px;
  display: flex;
}
body .cart .products-list .product .check {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
body .cart .products-list .product .check span {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  border-radius: 1000px;
  outline: 2px solid #273b98;
  transition: 0.1s ease-in;
  cursor: pointer;
}
body .cart .products-list .product .check .checked {
  background: url("/public/icons/checkmark.svg"), #273b98;
  background-position: center;
}
body .cart .products-list .product .middle {
  width: 20%;
}
body .cart .products-list .product .middle img {
  border-radius: 8px;
  width: 100%;
}
body .cart .products-list .product .right {
  padding: 10px 20px;
}
body .cart .products-list .product .right h4 {
  font-size: 0.85rem;
  font-weight: 500;
}
body .cart .products-list .product .right p {
  font-size: 1rem;
}
body .cart .products-list .product .right .counter {
  display: flex;
  gap: 5px;
  outline: 2px solid #273b98;
  border-radius: 50px;
  width: max-content;
  margin-top: 30px;
  padding: 5px;
}
body .cart .products-list .product .right .counter input {
  width: 40px;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #273b98;
}
body .cart .products-list .product .right .counter input:active {
  outline: nones;
}
body .cart .products-list .product .right .counter img {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .cart .products-list .product .right .counter img:hover {
  scale: 1.1;
}
body .cart .products-list .product .right .counter img:active {
  scale: 1;
}
body .cart .checkout-tab {
  border-radius: 8px;
  width: 25%;
  height: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
body .cart .checkout-tab a {
  display: flex;
  justify-content: flex-end;
}
body .checkout {
  width: 100%;
  background-color: #eaf7f9;
  padding: 20px;
  display: flex;
  gap: 20px;
}
body .checkout .products-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
  padding: 10px;
  height: 72vh;
  overflow-y: scroll;
  border-radius: 8px;
  scrollbar-width: auto;
}
body .checkout .products-list::-webkit-scrollbar {
  display: block;
  width: 10px;
  background: none;
  border-radius: 8px;
}
body .checkout .products-list::-webkit-scrollbar-track-piece:start {
  margin-top: 50px;
}
body .checkout .products-list::-webkit-scrollbar-track-piece:end {
  margin-bottom: 50px;
}
body .checkout .products-list::-webkit-scrollbar-thumb {
  background-color: #273b98;
  border-radius: 8px;
}
body .checkout .products-list .product {
  background-color: #fff;
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid #e2e2e2;
}
body .checkout .products-list .product .left {
  width: 10%;
}
body .checkout .products-list .product .left img {
  width: 100%;
}
body .checkout .products-list .product .middle {
  width: 45%;
  text-align: start;
}
body .checkout .products-list .product .middle h5 {
  font-weight: 300;
}
body .checkout .products-list .product .right {
  display: flex;
  flex-direction: row;
  width: 45%;
  gap: 5px;
  text-align: end;
  align-items: center;
  justify-content: end;
}
body .checkout .products-list .product .right h4 {
  font-weight: 500;
}
body .checkout .products-list .product .right h5 {
  font-weight: 600;
}
body .checkout .payment-method {
  width: 50%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  border-radius: 8px;
}
body .checkout .payment-method .group-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}
body .checkout .payment-method .group-button img {
  transition: 0.1s;
  filter: brightness(0) saturate(100%) invert(20%) sepia(47%) saturate(2699%) hue-rotate(214deg) brightness(93%) contrast(94%);
}
body .checkout .payment-method .payment-method-group {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  transition: 0.2s;
  display: flex;
  flex-wrap: wrap;
  max-height: 0;
  gap: 10px;
  overflow: hidden;
}
body .checkout .payment-method .payment-method-group .method-tab {
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  transition: 0.1s;
}
body .checkout .payment-method .payment-method-group .method-tab img {
  object-fit: contain;
  border-radius: inherit;
  aspect-ratio: 1/1;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}
body .checkout .payment-method .payment-method-group .method-tab:hover {
  background-color: #eaf7f9;
}
body .checkout .payment-method .payment-method-group .method-tab:active {
  scale: 0.95;
}
body .checkout .payment-method .payment-method-group .method-tab.picked {
  border: 1.5px solid #273b98;
}
body .checkout .payment-method .payment-method-group .method-tab.picked:hover {
  background-color: #fff;
}
body .payment {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #273b98;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}
body .payment .left {
  display: flex;
  align-items: center;
}
body .payment .left h3 {
  font-weight: 500;
  color: #fff;
  padding: 10px;
}
body .payment .left p {
  color: #fff;
}

.checkoutsuccess {
  min-height: 100vh;
}

.checkoutsuccess-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkoutsuccess-page a {
  margin-top: 20px;
  text-decoration: none;
  border: 2px solid #273b98;
}
.checkoutsuccess-page a:hover {
  background-color: #273b98;
  color: #fff;
  transition: 0.2s linear;
}
.checkoutsuccess-page img {
  margin-top: 50px;
  margin-bottom: 55px;
  width: 150px;
  height: auto;
}

.ordersummary {
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #273b98;
  border-radius: 8px;
  width: 80%;
  background-color: #fff;
}
.ordersummary h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #273b98;
}

.about {
  background-color: #eaf7f9;
  padding: 30px;
  height: 100vh;
}

.profile-student {
  background-color: #eaf7f9;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.profile-student .editDisplay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}
.profile-student .editDisplay .editBackdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1333333333);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 7;
}
.profile-student .editDisplay form {
  display: flex;
  background-color: #fff;
  padding: 20px 50px;
  flex-direction: column;
  z-index: 8;
  border-radius: 8px;
}
.profile-student .editDisplay form h3 {
  margin-bottom: 20px;
}
.profile-student .editDisplay form label {
  margin-bottom: 5px;
}
.profile-student .editDisplay form input {
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border: 1px solid #273b98;
  color: #273b98;
  border-radius: 3px;
}
.profile-student .editDisplay form input:focus {
  outline: none;
}
.profile-student .profile-tab {
  width: 30%;
  height: 70vh;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-student .profile-tab img {
  border-radius: 1000px;
  width: 60%;
  margin-bottom: 20px;
  align-self: center;
}
.profile-student .profile-tab button {
  align-self: center;
  margin-top: 10px;
}
.profile-student .transaction-history {
  width: 70%;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  max-height: 70vh;
  overflow: scroll;
  background-color: #fff;
  flex-direction: column;
  padding: 10px;
}
.profile-student .transaction-history input {
  padding: 10px;
  border: none;
  color: #273b98;
  border-bottom: 2px solid #d3d3d3;
}
.profile-student .transaction-history input:focus {
  outline: none;
}
.profile-student .transaction-history .transaction {
  border-bottom: 2px solid #d3d3d3;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  gap: 10px;
  transition: 0.1s;
}
.profile-student .transaction-history .transaction:hover {
  border-radius: 8px;
  background-color: #f9f9f9;
}
.profile-student .transaction-history .transaction .img {
  width: 10%;
}
.profile-student .transaction-history .transaction .img img {
  width: 100%;
  border-radius: 8px;
}
.profile-student .transaction-history .transaction .details {
  width: 90%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-student .transaction-history .transaction .details .desc {
  display: flex;
  border-bottom: 1px solid #d3d3d3;
}
.profile-student .transaction-history .transaction .details .desc .left {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.profile-student .transaction-history .transaction .details .desc .left p {
  font-size: 0.85rem;
}
.profile-student .transaction-history .transaction .details .desc .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
}
.profile-student .transaction-history .transaction .details .desc .right p {
  font-weight: 500;
  font-size: 0.85rem;
}

.detailTransaction {
  width: 100%;
  background-color: #eaf7f9;
  padding: 20px;
  gap: 20px;
}
.detailTransaction h3 {
  background-color: #fff;
  padding: 20px;
  width: max-content;
  border-radius: 8px;
}
.detailTransaction .content {
  width: 100%;
  background-color: #eaf7f9;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.detailTransaction .content .products-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #fff;
  padding: 10px;
  height: 70vh;
  overflow: scroll;
  border-radius: 8px;
}
.detailTransaction .content .products-list .product {
  background-color: #fff;
  padding: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid #e2e2e2;
}
.detailTransaction .content .products-list .product .left {
  width: 10%;
}
.detailTransaction .content .products-list .product .left img {
  width: 100%;
}
.detailTransaction .content .products-list .product .middle {
  width: 45%;
  text-align: start;
}
.detailTransaction .content .products-list .product .middle h3 {
  background: none;
  padding: 0;
}
.detailTransaction .content .products-list .product .middle h5 {
  font-weight: 300;
}
.detailTransaction .content .products-list .product .right {
  display: flex;
  flex-direction: row;
  width: 45%;
  gap: 5px;
  text-align: end;
  align-items: center;
  justify-content: end;
}
.detailTransaction .content .products-list .product .right h4 {
  font-weight: 500;
}
.detailTransaction .content .products-list .product .right h5 {
  font-weight: 600;
}
.detailTransaction .content .products-list .product:hover {
  background-color: #eaf7f9;
  cursor: pointer;
}
.detailTransaction .content .products-list .product.picked {
  background-color: #f3f3f3;
}
.detailTransaction .content .details {
  width: 50%;
  height: 70vh;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
}
.detailTransaction .content .details h4 {
  margin-bottom: 10px;
}
.detailTransaction .content .details h5 {
  display: flex;
  padding: 0 0 2px 30px;
  font-weight: 500;
}
.detailTransaction .content .details h5 p {
  margin-left: 20px;
  font-weight: 600;
}

.login {
  min-width: 100vw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273b98;
}
.login .container {
  scale: 0.8;
  width: 580px;
  height: 600px;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #fff;
  color: #273b98;
  border-radius: 12px;
}
.login .container * {
  width: 436px;
}
.login .container img {
  height: 80px;
}
.login .container .headline {
  display: flex;
  flex-direction: column;
}
.login .container .headline h4 {
  font-size: 2.25rem;
  font-weight: bold;
}
.login .container .headline p {
  font-size: 1.25rem;
}
.login .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login .container form .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login .container form .wrapper-input input {
  padding: 15px;
  border-radius: 16px;
  background-color: #eaf7f9;
  color: #273b98;
  font-size: 1.25rem;
  color: #273b98;
  font-size: 18px;
  border: none;
  outline: none;
}
.login .container form .wrapper-input span {
  color: red;
}

.wrapper-admin {
  width: 100vw;
  height: 100dvh;
  display: flex;
  position: relative;
  color: #273b98;
}
.wrapper-admin .left {
  min-width: 300px;
  height: 100dvh;
  position: relative;
  display: flex;
}
.wrapper-admin .left .navigation-side {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  border-right: solid 1px #dfdfdf;
}
.wrapper-admin .left .navigation-side .wrapper-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image div {
  height: 50px;
  background-image: url("/public/icons/logo-sprite.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image .brand {
  display: none;
  width: 160px;
  background-position-x: 0;
  scale: 1.5;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image .logo {
  width: 50px;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li {
  padding: 10px 15px;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li a span {
  display: none;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li img {
  height: 2.25rem;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu .active {
  font-weight: bold;
  background-color: #eaf7f9;
  color: #273b98;
  position: relative;
}
.wrapper-admin .left .navigation-side .wrapper-navigation .main-menu .active::before {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #273b98;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.wrapper-admin .left .navigation-side .wrapper-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.wrapper-admin .left .navigation-side .wrapper-action svg {
  cursor: pointer;
}
.wrapper-admin .left .navigation-side .wrapper-action svg:first-child {
  display: none;
}
.wrapper-admin .right {
  width: 100%;
  overflow-x: hidden;
}
.wrapper-admin .right h2 {
  font-size: 1.5rem;
}
.wrapper-admin .right .bar-top {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dfdfdf;
}
.wrapper-admin .right .content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.wrapper-admin .right .content .greeting {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.wrapper-admin .right .content .greeting span {
  font-size: 1rem;
}
.wrapper-admin .right .content .summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-admin .right .content .summary .greeting {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper-admin .right .content .summary .greeting a {
  font-size: 0.85rem;
}
.wrapper-admin .right .content .summary .wrapper-summary {
  display: flex;
  align-items: center;
  gap: 15px;
}
.wrapper-admin .right .content .summary .wrapper-summary .card-summary {
  min-width: 200px;
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 4px #273b98;
}
.wrapper-admin .right .content .summary .wrapper-summary .card-summary .wrapper-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #273b98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-admin .right .content .summary .wrapper-summary .card-summary .wrapper-information {
  display: flex;
  flex-direction: column;
}
.wrapper-admin .right .content .summary .wrapper-summary .card-summary .wrapper-information span {
  font-size: calc(0.85rem - 2px);
}
.wrapper-admin .right .content .form-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.wrapper-admin .right .content .form-data .wrapper-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input label {
  font-size: 1.25rem;
  position: relative;
}
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input label span {
  color: red;
  font-weight: bolder;
}
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input input,
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input textarea,
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input select {
  width: 280px;
  height: 40px;
  padding: 10px 5px;
  padding-left: 0;
  border: none;
  font-size: 1rem;
  border-bottom: 3px solid #273b98;
  outline: none;
}
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input textarea {
  max-height: 250px;
  resize: vertical;
}
.wrapper-admin .right .content .form-data .wrapper-field .wrapper-input select {
  background-color: transparent;
}
.wrapper-admin .right .content .form-data .container {
  border: 3px solid #273b98;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wrapper-admin .right .content .form-data .wrapper-image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product {
  width: 250px;
  height: 250px;
  position: relative;
  border: 3px dotted #273b98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product img {
  width: inherit;
  height: 240px;
  object-fit: contain;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product:hover > .action-product {
  opacity: 1;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product .action-product {
  width: inherit;
  height: inherit;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product .action-product button {
  width: 200px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #273b98;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product .action-product .btn-choose {
  position: relative;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product .action-product .btn-choose input {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product .action-product .btn-delete {
  background-color: red;
}
.wrapper-admin .right .content .form-data .wrapper-image .image-product .identifier {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 35px;
  height: 35px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #273b98;
  color: white;
  scale: 0.6;
}

h2 {
  font-size: 2.25rem;
}

.statistic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistic .piechart {
  width: 400px;
  height: 350px;
  padding: 10px;
  border-radius: 12px;
}
.statistic .piechart canvas {
  width: 100%;
}
.statistic .barchat {
  min-width: 750px;
  width: 70%;
  height: 350px;
}
.statistic .barchat canvas {
  width: 100%;
}

.management-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  margin-bottom: 100px;
}
.management-table .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.management-table .title .point-deactive,
.management-table .title .point-active {
  position: relative;
}
.management-table .title .point-active::after,
.management-table .title .point-deactive::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6px;
  right: -20px;
  background-color: rgb(116, 214, 116);
  border-radius: 50%;
  scale: 1;
  animation: blinking 1s infinite backwards;
}
.management-table .title .point-deactive::after {
  background-color: red;
}
@keyframes blinking {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.management-table .title a {
  min-width: 180px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 0.85rem;
  border: 1px solid #273b98;
  border-radius: 10px;
}
.management-table .find-something {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.management-table .find-something .wrapper-filter {
  display: flex;
  align-items: center;
  gap: 15px;
}
.management-table .find-something .wrapper-filter .wrapper-select {
  width: 200px;
  height: 35px;
  position: relative;
}
.management-table .find-something .wrapper-filter .wrapper-select select {
  width: inherit;
  height: inherit;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 16px;
  outline: none;
  color: #273b98;
  font-size: calc(0.85rem - 2px);
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #273b98;
}
.management-table .find-something .wrapper-filter .wrapper-select select:hover {
  box-shadow: 0 0 5px #273b98;
}
.management-table .find-something .wrapper-filter .wrapper-select .wrapper-icon {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  z-index: -10;
}
.management-table .find-something .wrapper-search {
  width: 18rem;
  display: flex;
  position: relative;
}
.management-table .find-something .wrapper-search input {
  width: 100%;
  height: 40px;
  padding: 5px 50px 5px 10px;
  outline: none;
  border-radius: 12px;
  border: 1px solid #273b98;
}
.management-table .find-something .wrapper-search .search-engine {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273b98;
  border-radius: 50%;
  position: absolute;
  right: 6px;
  bottom: 5.8px;
  border: none;
  cursor: pointer;
}
.management-table table {
  width: 100%;
  font-size: 0.85rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
.management-table table tr {
  border-bottom: 1px solid #273b98;
}
.management-table table td,
.management-table table th {
  padding: 10px;
  text-align: start;
}
.management-table table td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.management-table table td:last-child .profile {
  width: 15px;
  height: 15px;
}
.management-table table td:last-child .profile .icon {
  width: max-content;
}
.management-table table td:last-child .profile .main-menu {
  top: 18px;
}
.management-table .wrapper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.management-table .wrapper-pagination .btn-page {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  font-size: calc(0.85rem - 2px);
  border: none;
  cursor: pointer;
}
.management-table .wrapper-pagination .btn-active {
  color: white;
  background-color: #273b98;
}
.management-table .wrapper-pagination .btn-not-allowed {
  cursor: not-allowed;
}
.management-table .wrapper-pagination .btn-page-action {
  width: max-content;
  height: 100%;
  padding: 5px 10px;
  color: #273b98;
  font-weight: bold;
  background-color: transparent;
}

.profile:hover > ul {
  display: flex;
}

.profile {
  position: relative;
}
.profile .icon {
  font-size: 2.25rem;
}
.profile .main-menu {
  width: 12rem;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
  background-color: #eaf7f9;
  border: 1px solid #273b98;
  border-radius: 10px;
}
.profile .main-menu li {
  font-size: calc(1.15rem - 4px);
  padding: 5px;
  border-bottom: 1px solid white;
  position: relative;
}
.profile .main-menu li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  cursor: pointer;
}
.profile .main-menu li::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #273b98;
}
.profile .main-menu li:hover::before {
  animation: line-break 1500ms forwards;
}
@keyframes line-break {
  100% {
    width: 100%;
  }
}

.alert-message {
  width: 100vw;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  text-align: center;
  animation: animate-alert 300ms forwards;
}
.alert-message .card-message {
  min-width: 320px;
  max-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
}
.alert-message .card-message span {
  font-size: 0.85rem;
}
.alert-message .card-message .wrapper-button {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.alert-message .card-message .wrapper-button button {
  padding: 10px;
}
.alert-message .delete-message {
  color: red;
}
.alert-message .delete-message button {
  border-color: red;
  color: red;
}
.alert-message .delete-message .btn-delete-anouncement {
  color: white;
  background-color: red;
  font-weight: bolder;
}
.alert-message .delete-message .cooldown {
  background-color: #424242;
  cursor: not-allowed;
  border: none;
}
.alert-message button {
  padding: 15px 5px;
  background-color: transparent;
  color: #273b98;
  border: 1px solid #273b98;
  border-radius: 5px;
  cursor: pointer;
}
.alert-message .btn-yes-anouncement {
  color: white;
  background-color: #273b98;
}
@keyframes animate-alert {
  0% {
    justify-content: start;
  }
  100% {
    justify-content: center;
  }
}
.alert-message .card-form {
  width: 480px;
  min-height: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  display: none;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  text-align: start;
}
.alert-message .card-form h4 {
  margin-top: 5px;
}
.alert-message .card-form .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.alert-message .card-form .wrapper-input label {
  font-size: 1rem;
}
.alert-message .card-form .wrapper-input label span {
  color: red;
}
.alert-message .card-form .wrapper-input input,
.alert-message .card-form .wrapper-input select {
  height: 45px;
  padding: 5px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #273b98;
  outline: none;
}

.open-sidebar {
  animation: openSidebar 200ms forwards;
}

.close-sidebar {
  animation: closeSidebar 200ms forwards;
}

@keyframes openSidebar {
  0% {
    width: 100px;
    min-width: 100px;
  }
  100% {
    width: 300px;
    min-width: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    width: 300px;
    min-width: 300px;
  }
  100% {
    width: 100px;
    min-width: 100px;
  }
}
.button-submit-form {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #273b98;
  color: #273b98;
  background-color: transparent;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  height: 50px;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  color: #273b98;
  border-radius: 12px;
  cursor: pointer;
}

.btn-submit {
  background-color: #273b98;
  color: #fff;
}

.static {
  position: static;
}

.transparent {
  background-color: transparent;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.tree-row-grid {
  grid-template-columns: repeat(3, 1fr) !important;
}

footer {
  border-top: 2px solid #273b98;
  width: 100%;
  padding: 40px 10%;
  height: auto;
  gap: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0 0 0;
}
footer .links {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 7px;
  padding: 10px;
  white-space: nowrap;
}
footer .links h4 {
  color: #273b98;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
footer .links p {
  color: #273b98;
  position: relative;
  display: inline;
  cursor: pointer;
}
footer .links p::before {
  position: absolute;
  content: "";
  background: #273b98;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  transition: 0.2s;
}
footer .links p:hover::before {
  width: 100%;
}
footer span {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translate(50%, 0);
  background-color: #fff;
  outline: 2px solid #273b98;
  border-radius: 8px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s;
}
footer span p {
  color: #273b98;
}

/*# sourceMappingURL=app.css.map */
