@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: 1.15rem;
}
body .button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  outline: 1.5px solid #273b98;
  background: #273b98;
  color: #fff;
  border: none;
  outline: none;
  transition: 0.1s;
}
body .button:hover {
  outline: 1.5px solid #273b98;
  background: #fff;
  color: #273b98;
  font-weight: 350;
}
body .navigation-user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  width: 100vw;
}
body .navigation-user .left {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: start;
}
body .navigation-user .left a {
  width: fit-content;
}
body .navigation-user .left a img {
  max-width: 65%;
  height: auto;
}
body .navigation-user .center {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
}
body .navigation-user .center .links {
  display: flex;
  gap: 10px;
}
body .navigation-user .center .links a {
  position: relative;
  font-weight: 400;
  color: #273b98;
}
body .navigation-user .center .links a::after {
  transition: 0.4s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  background-color: #273b98;
}
body .navigation-user .center .links a:hover::after {
  width: 100%;
}
body .navigation-user .right {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: right;
}
body .wrapper-user {
  padding: 20px;
}
body .wrapper-user .hugeimg {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 8px;
  margin-bottom: 40px;
}
body .wrapper-user .categories .category-tab {
  background-image: url("https://www.svgrepo.com/show/508699/landscape-placeholder.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 8px;
}
body .wrapper-user .categories .section1 {
  width: 100%;
}
body .login {
  min-width: 100vw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273b98;
}
body .login .container {
  scale: 0.8;
  width: 580px;
  height: 600px;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #fff;
  color: #273b98;
  border-radius: 12px;
}
body .login .container * {
  width: 436px;
}
body .login .container img {
  height: 80px;
}
body .login .container .headline {
  display: flex;
  flex-direction: column;
}
body .login .container .headline h4 {
  font-size: 2.25rem;
  font-weight: bold;
}
body .login .container .headline p {
  font-size: 1.25rem;
}
body .login .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .login .container form .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body .login .container form .wrapper-input input {
  padding: 15px;
  border-radius: 16px;
  background-color: #eaf7f9;
  color: #273b98;
  font-size: 1.25rem;
  color: #273b98;
  font-size: 18px;
  border: none;
  outline: none;
}
body .login .container form .wrapper-input span {
  color: red;
}
body .wrapper-admin {
  width: 100vw;
  height: 100dvh;
  display: flex;
  position: relative;
  color: #273b98;
}
body .wrapper-admin .left {
  min-width: 300px;
  height: 100dvh;
  position: relative;
  display: flex;
}
body .wrapper-admin .left .navigation-side {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  border-right: solid 1px #dfdfdf;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image div {
  height: 50px;
  background-image: url("/public/icons/logo-sprite.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image .brand {
  display: none;
  width: 160px;
  background-position-x: 0;
  scale: 1.5;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .wrapper-image .logo {
  width: 50px;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li {
  padding: 10px 15px;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li a span {
  display: none;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu li img {
  height: 2.25rem;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu .active {
  font-weight: bold;
  background-color: #eaf7f9;
  color: #273b98;
  position: relative;
}
body .wrapper-admin .left .navigation-side .wrapper-navigation .main-menu .active::before {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #273b98;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body .wrapper-admin .left .navigation-side .wrapper-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body .wrapper-admin .left .navigation-side .wrapper-action svg {
  cursor: pointer;
}
body .wrapper-admin .left .navigation-side .wrapper-action svg:first-child {
  display: none;
}
body .wrapper-admin .right {
  width: 100%;
  overflow-x: hidden;
}
body .wrapper-admin .right .bar-top {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dfdfdf;
}
body .wrapper-admin .right .content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
body .wrapper-admin .right .content .greeting {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
body .wrapper-admin .right .content .greeting span {
  font-size: 1rem;
}
body .wrapper-admin .right .content .summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .wrapper-admin .right .content .summary .greeting {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .wrapper-admin .right .content .summary .greeting a {
  font-size: 0.85rem;
}
body .wrapper-admin .right .content .summary .wrapper-summary {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .wrapper-admin .right .content .summary .wrapper-summary .card-summary {
  min-width: 200px;
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 4px #273b98;
}
body .wrapper-admin .right .content .summary .wrapper-summary .card-summary .wrapper-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #273b98;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper-admin .right .content .summary .wrapper-summary .card-summary .wrapper-information {
  display: flex;
  flex-direction: column;
}
body .wrapper-admin .right .content .summary .wrapper-summary .card-summary .wrapper-information span {
  font-size: calc(0.85rem - 2px);
}
body .wrapper-admin .right .content .form-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
body .wrapper-admin .right .content .form-data .wrapper-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input label {
  font-size: 1.25rem;
  position: relative;
}
body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input label span {
  color: red;
  font-weight: bolder;
}
body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input input, body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input textarea, body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input select {
  width: 280px;
  padding: 10px 5px;
  padding-left: 0;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #273b98;
  outline: none;
}
body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input textarea {
  min-height: 250px;
  resize: none;
}
body .wrapper-admin .right .content .form-data .wrapper-field .wrapper-input select {
  background-color: transparent;
}
body .wrapper-admin .right .content .form-data .wrapper-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body h2 {
  font-size: 2.25rem;
}
body .statistic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .statistic .piechart {
  width: 400px;
  height: 350px;
  padding: 10px;
  border-radius: 12px;
}
body .statistic .piechart canvas {
  width: 100%;
}
body .statistic .barchat {
  min-width: 750px;
  width: 70%;
  height: 350px;
}
body .statistic .barchat canvas {
  width: 100%;
}
body .management-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .management-table .title {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .management-table .title div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: blinking 400ms alternate infinite;
}
body .management-table .title .point-active {
  background-color: rgb(116, 214, 116);
}
body .management-table .title .point-deactive {
  background-color: red;
}
@keyframes blinking {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
body .management-table .find-something {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .management-table .find-something .wrapper-filter {
  display: flex;
  align-items: center;
  gap: 15px;
}
body .management-table .find-something .wrapper-filter .wrapper-select {
  width: 200px;
  height: 35px;
  position: relative;
}
body .management-table .find-something .wrapper-filter .wrapper-select select {
  width: inherit;
  height: inherit;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 16px;
  outline: none;
  color: #273b98;
  font-size: calc(0.85rem - 2px);
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #273b98;
}
body .management-table .find-something .wrapper-filter .wrapper-select select:hover {
  box-shadow: 0 0 5px #273b98;
}
body .management-table .find-something .wrapper-filter .wrapper-select .wrapper-icon {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  z-index: -10;
}
body .management-table .find-something .wrapper-search {
  width: 18rem;
  display: flex;
  position: relative;
}
body .management-table .find-something .wrapper-search input {
  width: 100%;
  height: 40px;
  padding: 5px 50px 5px 10px;
  outline: none;
  border-radius: 12px;
  border: 1px solid #273b98;
}
body .management-table .find-something .wrapper-search .search-engine {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273b98;
  border-radius: 50%;
  position: absolute;
  right: 6px;
  bottom: 5.8px;
  border: none;
  cursor: pointer;
}
body .management-table table {
  width: 100%;
  font-size: 0.85rem;
  border-spacing: 0px;
}
body .management-table table td,
body .management-table table th {
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #273b98;
}
body .management-table table td:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .management-table table td:last-child .profile {
  width: 15px;
  height: 15px;
}
body .management-table table td:last-child .profile .icon {
  width: max-content;
}
body .management-table table td:last-child .profile .main-menu {
  top: 18px;
}
body .management-table .wrapper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .management-table .wrapper-pagination .btn-page {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  font-size: calc(0.85rem - 2px);
  border: none;
  cursor: pointer;
}
body .management-table .wrapper-pagination .btn-active {
  color: white;
  background-color: #273b98;
}
body .management-table .wrapper-pagination .btn-not-allowed {
  cursor: not-allowed;
}
body .management-table .wrapper-pagination .btn-page-action {
  width: max-content;
  height: 100%;
  padding: 5px 10px;
  color: #273b98;
  font-weight: bold;
  background-color: transparent;
}
body .profile:hover > ul {
  display: flex;
}
body .profile {
  position: relative;
}
body .profile .icon {
  font-size: 2.25rem;
}
body .profile .main-menu {
  width: 12rem;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
  background-color: #eaf7f9;
  border: 1px solid #273b98;
  border-radius: 10px;
}
body .profile .main-menu li {
  font-size: calc(1.15rem - 4px);
  padding: 5px;
  border-bottom: 1px solid white;
  position: relative;
}
body .profile .main-menu li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}
body .profile .main-menu li::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #273b98;
}
body .profile .main-menu li:hover::before {
  animation: line-break 1500ms forwards;
}
@keyframes line-break {
  100% {
    width: 100%;
  }
}
body .alert-message {
  width: 100vw;
  height: 100dvh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: animate-alert 300ms forwards;
}
body .alert-message .card-message {
  min-width: 320px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
}
body .alert-message .card-message span {
  font-size: 0.85rem;
}
body .alert-message .card-message .btn-close-annoucement {
  padding: 6px;
  background-color: transparent;
  border: 1px solid #273b98;
  color: #273b98;
  border-radius: 5px;
  cursor: pointer;
}
@keyframes animate-alert {
  0% {
    justify-content: start;
  }
  100% {
    justify-content: center;
  }
}
body .open-sidebar {
  animation: openSidebar 200ms forwards;
}
body .close-sidebar {
  animation: closeSidebar 200ms forwards;
}
@keyframes openSidebar {
  0% {
    width: 100px;
    min-width: 100px;
  }
  100% {
    width: 300px;
    min-width: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    width: 300px;
    min-width: 300px;
  }
  100% {
    width: 100px;
    min-width: 100px;
  }
}
body .btn {
  height: 50px;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  color: #273b98;
  border-radius: 12px;
  cursor: pointer;
}
body .btn-submit {
  background-color: #273b98;
  color: #fff;
}
body .static {
  position: static;
}
body .transparent {
  background-color: transparent;
}
body ul {
  list-style: none;
}
body a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
