@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  color: #fff;
  background-color: #273b98;
  filter: none;
}
::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

@keyframes openSidebar {
  0% {
    width: 100px;
    min-width: 100px;
  }
  100% {
    width: 300px;
    min-width: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    width: 300px;
    min-width: 300px;
  }
  100% {
    width: 100px;
    min-width: 100px;
  }
}
@keyframes line-break {
  100% {
    width: 100%;
  }
}
body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  color: #fff;
  background-color: #273b98;
  filter: none;
}
::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

.alert-message {
  width: 100vw;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  text-align: center;
  z-index: 999;
  animation: animate-alert 300ms forwards;
}
.alert-message .preview-media {
  background-color: red;
}
.alert-message .card-message {
  min-width: 320px;
  max-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
}
.alert-message .card-message span {
  font-size: clamp(0.2rem, 1vw, 0.85rem);
}
.alert-message .card-message .wrapper-button {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.alert-message .card-message .wrapper-button button {
  padding: 10px;
}
.alert-message .delete-message {
  color: red;
}
.alert-message .delete-message button {
  border-color: red;
  color: red;
}
.alert-message .delete-message .btn-delete-anouncement {
  color: white;
  background-color: red;
  font-weight: bolder;
}
.alert-message .delete-message .cooldown {
  background-color: #424242;
  cursor: not-allowed;
  border: none;
}
.alert-message button {
  padding: 15px 5px;
  background-color: transparent;
  color: #273b98;
  border: 1px solid #273b98;
  border-radius: 5px;
  cursor: pointer;
}
.alert-message .btn-yes-anouncement {
  color: white;
  background-color: #273b98;
}
@keyframes animate-alert {
  0% {
    justify-content: start;
  }
  100% {
    justify-content: center;
  }
}
.alert-message .card-form {
  width: 480px;
  min-height: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  display: none;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  text-align: start;
}
.alert-message .card-form h4 {
  margin-top: 5px;
}
.alert-message .card-form .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.alert-message .card-form .wrapper-input label {
  font-size: clamp(0.4rem, 1.25vw, 1rem);
}
.alert-message .card-form .wrapper-input label span {
  color: red;
}
.alert-message .card-form .wrapper-input input,
.alert-message .card-form .wrapper-input select {
  height: 45px;
  padding: 5px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #273b98;
  outline: none;
}

body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  color: #fff;
  background-color: #273b98;
  filter: none;
}
::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

@keyframes openSidebar {
  0% {
    width: 100px;
    min-width: 100px;
  }
  100% {
    width: 300px;
    min-width: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    width: 300px;
    min-width: 300px;
  }
  100% {
    width: 100px;
    min-width: 100px;
  }
}
@keyframes line-break {
  100% {
    width: 100%;
  }
}
.profile:hover > ul {
  display: flex;
}

.profile {
  position: relative;
}
.profile .icon {
  font-size: clamp(0.6rem, 3.5vw, 2rem);
}
.profile .main-menu {
  min-width: calc(clamp(0.6rem, 3.5vw, 2rem) * 5.5);
  width: max-content;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
  background-color: #eaf7f9;
  border: 1px solid #273b98;
  border-radius: 10px;
}
.profile .main-menu li {
  font-size: clamp(0.2rem, 1vw, 0.85rem);
  padding: 5px;
  border-bottom: 1px solid white;
  position: relative;
}
.profile .main-menu li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  cursor: pointer;
}
.profile .main-menu li::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #273b98;
}
.profile .main-menu li:hover::before {
  animation: line-break 1500ms forwards;
}

.login {
  max-width: 800px;
  min-height: 300px;
  width: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  box-shadow: -5px 0 5px #0fcbbc, 0 -5px 5px #8780fc, 0 5px 5px #8780fc, 5px 0 5px #5f77f7;
}
.login .title {
  max-width: 400px;
  width: calc(100% - 200px);
  min-width: 300px;
  font-size: calc(clamp(0.6rem, 2vw, 1.5rem) - 0.3rem);
}
.login .wrapper-field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login .wrapper-field .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login .wrapper-field .wrapper-input label {
  font-size: clamp(0.4rem, 1.25vw, 1rem);
  color: #273b98;
  font-weight: 600;
}
.login .wrapper-field .wrapper-input input {
  width: 100%;
  min-width: 200px;
  height: 45px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #273b98;
}
.login .buttons button {
  height: clamp(0.6rem, 4vw, 2.5rem);
  border-radius: 4px;
}
.login .footers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.2rem, 1vw, 0.85rem);
}
.login .footers .link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login .footers .link p {
  color: black;
}
.login .footers .link a {
  color: #273b98;
}

.open-sidebar {
  animation: openSidebar 200ms forwards;
}

.close-sidebar {
  animation: closeSidebar 200ms forwards;
}

.button-submit-form {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #273b98;
  color: #273b98;
  background-color: transparent;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  min-height: 30px;
  padding: 10px;
  font-size: clamp(0.4rem, 1.25vw, 1rem);
  font-weight: bold;
  color: #273b98;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-submit {
  background-color: #273b98;
  color: #fff;
}

.btn-svg {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-media {
  min-width: max-content;
  background-color: transparent;
  color: rgba(95, 119, 247, 0.6);
  border: 2px solid rgba(95, 119, 247, 0.6);
}
.btn-media:hover {
  color: #273b98;
  border-color: #273b98;
}

.static {
  position: static;
}

.transparent {
  background-color: transparent;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.tree-row-grid {
  grid-template-columns: repeat(3, 1fr) !important;
}

.w-full {
  width: 100%;
}

.pad-0 {
  padding: 0 !important;
}

.flex-row {
  flex-direction: row !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.items-start {
  align-items: start !important;
}

.items-center {
  align-items: center !important;
}

.justify-self-center {
  justify-self: center !important;
}

.self-center {
  align-self: center !important;
}

.self-end {
  align-self: flex-end !important;
}

body .button {
  cursor: pointer;
  padding: 10px 15px;
  width: max-content;
  font-weight: 500;
  border-radius: 8px;
  background: #273b98;
  color: #fff;
  border: 1.5px solid #273b98;
  transition: 0.1s;
}
body .button:active {
  scale: 0.95;
}
body .button:hover {
  border: 1.5px solid #273b98;
  background: #fff;
  color: #273b98;
  font-weight: 600;
}
body .button img {
  margin: 2.5px 0;
  width: 100%;
  filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(12%) hue-rotate(180deg) brightness(103%) contrast(104%);
}
body .button:hover > img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .button2 {
  cursor: pointer;
  padding: 10px 15px;
  width: max-content;
  font-weight: 500;
  border-radius: 8px;
  background: #fff;
  color: #273b98;
  outline: none;
  transition: 0.1s;
  border: 1.5px solid #fff;
}
body .button2:active {
  scale: 0.95;
}
body .button2:hover {
  border: 1.5px solid #fff;
  background: #273b98;
  color: #fff;
  font-weight: 600;
}
body .button2 img {
  margin: 2.5px 0;
  width: 100%;
  filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(12%) hue-rotate(180deg) brightness(103%) contrast(104%);
}
body .button2:hover > img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .button-circle {
  border-radius: 1000px;
  padding: 25%;
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .navigation-user {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
  align-items: stretch;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: space-evenly;
  width: 100vw;
  transition: 0.4s;
}
body .navigation-user .left {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: start;
}
body .navigation-user .left a {
  display: flex;
  align-items: center;
}
body .navigation-user .left a img {
  width: auto;
  height: 70%;
}
body .navigation-user .center {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: none;
}
body .navigation-user .center .links {
  display: flex;
  gap: 15px;
}
body .navigation-user .center .links a {
  position: relative;
  font-weight: 400;
  color: #273b98;
}
body .navigation-user .center .links a::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  background-color: #273b98;
}
body .navigation-user .center .links a:hover::after {
  transform: scaleX(1);
}
body .navigation-user .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2%;
}
body .navigation-user .right a {
  display: none;
}
body .navigation-user .right .burger {
  height: 70%;
  cursor: pointer;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .mobile-nav {
  position: fixed;
  overflow-x: hidden;
  width: 0;
  right: 0;
  top: 0;
  transition: width 0.2s ease-out, padding 0.2s, opacity 0.1s;
  height: 100dvh;
  z-index: 1000;
  background-color: #fff;
  opacity: 0;
  padding: 15px 0 1000px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .mobile-nav .up {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .mobile-nav .up img {
  width: 30px;
  align-self: flex-end;
  rotate: 45deg;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .mobile-nav .up a {
  cursor: pointer;
  transition: 0.1s;
  font-size: clamp(0.6rem, 4.5vw, 3rem);
  padding: 20px 0;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .mobile-nav .up a img {
  height: 1em;
  rotate: 0deg;
}
body .mobile-nav .up .branch {
  transition: 0.1s;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  gap: 10px;
  padding: 0 5px;
  background-color: #eaf7f9;
}
body .mobile-nav .up .branch a {
  font-size: clamp(0.6rem, 4.5vw, 3rem);
  border-bottom: none;
  padding: 10px;
}
body .mobile-nav .up .branch.active {
  padding: 5px;
  max-height: 1000px;
  overflow: visible;
}
body .mobile-nav .down {
  display: flex;
  gap: 5px;
  justify-content: end;
  flex-direction: column;
}
body .mobile-nav .down a {
  padding: 10px 0 0 0;
  display: flex;
  gap: 10px;
  font-size: clamp(0.6rem, 4.5vw, 3rem);
}
body .mobile-nav .down a img {
  height: 1em;
  width: auto;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .mobile-nav.on {
  padding: 15px;
  width: 100vw;
  opacity: 1;
}
body .wrapper-user {
  transition: 0.3s;
}
body .wrapper-user .dashboard {
  padding: 110px 0 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
  position: relative;
}
body .wrapper-user .dashboard .trinkets {
  position: absolute;
  z-index: -1;
}
body .wrapper-user .dashboard .circle {
  background: linear-gradient(135deg, #0fcbbc 0%, #5f77f7 41%, #8780fc 62%, #a387ff 100%);
  aspect-ratio: 1/1;
  border-radius: 999px;
  opacity: 0.4;
}
body .wrapper-user .dashboard .circle::before {
  content: "";
  position: absolute;
  top: 3.5vw;
  left: 3.5vw;
  width: calc(100% - 7vw);
  height: calc(100% - 7vw);
  border-radius: inherit;
  background: #fff;
}
body .wrapper-user .dashboard .circle-1 {
  width: 50vw;
  left: -60px;
  bottom: -60px;
}
body .wrapper-user .dashboard .circle-auth {
  width: 40vw;
  left: 0;
  top: -50px;
}
body .wrapper-user .dashboard .star-group {
  display: flex;
}
body .wrapper-user .dashboard .star-group img {
  width: 5vw;
  aspect-ratio: 1/1;
}
body .wrapper-user .dashboard .star-group-1 {
  gap: 0;
  right: 5vw;
  top: -30px;
}
body .wrapper-user .dashboard .star-group-1 img:nth-child(1) {
  margin-bottom: 30px;
}
body .wrapper-user .dashboard .star-group-1 img:nth-child(2) {
  rotate: 200deg;
}
body .wrapper-user .dashboard .star-group-2 {
  right: 20vw;
  top: -30px;
}
body .wrapper-user .dashboard .star-group-2 img:nth-child(1) {
  rotate: 160deg;
}
body .wrapper-user .dashboard .star-group-2 img:nth-child(2) {
  margin-bottom: 15px;
  rotate: 175deg;
}
body .wrapper-user .dashboard .wave {
  width: 100vw;
  left: 0;
}
body .wrapper-user .dashboard .wave-1 {
  top: -70px;
}
body .wrapper-user .dashboard .banner {
  display: flex;
  position: relative;
  height: max-content;
  align-items: stretch;
  padding: 0 5px;
}
body .wrapper-user .dashboard .banner .change-banner {
  width: 10%;
  transition: 0.3s ease-in-out;
  opacity: 0.5;
  display: none;
  justify-content: center;
  align-items: center;
}
body .wrapper-user .dashboard .banner .change-banner img {
  rotate: 90deg;
  transition: 0.1s ease-in;
  opacity: 0.8;
  cursor: pointer;
}
body .wrapper-user .dashboard .banner .change-banner:hover {
  opacity: 1 !important;
}
body .wrapper-user .dashboard .banner .change-banner:hover img {
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .wrapper-user .dashboard .banner .right {
  rotate: 180deg;
}
body .wrapper-user .dashboard .banner .center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 5px;
}
body .wrapper-user .dashboard .banner .center .sliding-banner {
  border-radius: 8px;
  display: flex;
  width: 100%;
  aspect-ratio: 16/7;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 10px;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content {
  background-color: #000;
  scroll-snap-align: start;
  color: #fff;
  object-fit: contain;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  position: relative;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content:nth-child(1) {
  background-color: transparent;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img1 {
  z-index: 2;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img2 {
  z-index: 3;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img3 {
  z-index: 4;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img4 {
  z-index: 5;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img5 {
  z-index: 6;
}
body .wrapper-user .dashboard .banner .center .sliding-banner .banner-content .img6 {
  z-index: 7;
}
body .wrapper-user .dashboard .banner .center .banner-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 5%;
  width: 100%;
  height: 25px;
}
body .wrapper-user .dashboard .banner .center .banner-info .banner-timer {
  opacity: 0;
  width: 30%;
  height: 100%;
  border-radius: 1000px;
  border: 1.5px solid #273b98;
}
body .wrapper-user .dashboard .banner .center .banner-info .banner-counter {
  display: flex;
  padding: 2px;
  gap: 4px;
}
body .wrapper-user .dashboard .banner .center .banner-info .banner-counter .banner-count {
  height: 100%;
  background-color: #fff;
  border: 1.5px solid #273b98;
  aspect-ratio: 1/1;
  border-radius: 100px;
}
body .wrapper-user .dashboard .banner .center .banner-info .banner-counter .banner-count.selected {
  background: #273b98;
}
body .wrapper-user .dashboard h2 {
  margin-top: 40px;
  font-size: clamp(0.6rem, 5.5vw, 3.5rem);
  align-self: center;
  color: #212121;
  font-weight: 500;
}
body .wrapper-user .dashboard h1 {
  text-align: center;
  font-size: clamp(0.6rem, 8.5vw, 5rem);
  background: linear-gradient(#485bb1 0%, #273b98 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .wrapper-user .dashboard h3 {
  align-self: center;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #000;
  font-weight: 600;
}
body .wrapper-user .dashboard .majors {
  margin-top: 20px;
  width: 100%;
  min-height: 30px;
  padding: 5px;
}
body .wrapper-user .dashboard .majors .change-major {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  justify-content: space-between;
  width: 100%;
}
body .wrapper-user .dashboard .majors .change-major .major-counter {
  height: 50%;
  display: flex;
  padding: 2px;
  gap: 4px;
  align-items: center;
}
body .wrapper-user .dashboard .majors .change-major .major-counter .major-count {
  aspect-ratio: 1/1;
  transition: 0.1s;
  height: 50%;
  border: 1.5px solid;
  border-radius: 1000px;
  display: flex;
}
body .wrapper-user .dashboard .majors .change-major .major-counter .major-count img {
  display: none;
}
body .wrapper-user .dashboard .majors .change-major .major-counter .major-count.selected {
  border: none;
  height: 100%;
}
body .wrapper-user .dashboard .majors .change-major .major-counter .major-count.selected img {
  display: flex;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .wrapper-user .dashboard .majors .up .major-slider {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
body .wrapper-user .dashboard .majors .up .major-slider .major-content {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 100%;
  gap: 10px;
}
body .wrapper-user .dashboard .majors .up .major-slider .major-content img {
  width: 80%;
}
body .wrapper-user .dashboard .majors .up .major-slider .major-content .icon {
  margin-left: 10px;
  height: 70%;
  width: auto;
  display: none;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
body .wrapper-user .dashboard .majors .up .major-slider .major-content h2 {
  margin-top: 0;
  font-size: clamp(0.6rem, 6.5vw, 4rem);
  font-weight: 700;
  color: #273b98;
  background: linear-gradient(#485bb1 0%, #273b98 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
body .wrapper-user .dashboard .majors .up .major-slider .major-content h3 {
  margin-top: 0;
  font-size: clamp(0.6rem, 4vw, 2.5rem);
  text-align: center;
  width: 80%;
  font-weight: 200;
  color: #000;
}
body .wrapper-user .dashboard .majors .up .change-major {
  display: none;
}
body .wrapper-user .dashboard .gallery {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-top: 40px;
  position: relative;
}
body .wrapper-user .dashboard .gallery h2 {
  margin-top: 0;
  font-size: clamp(0.6rem, 8.5vw, 5rem);
  font-weight: 700;
  text-align: center;
  background: linear-gradient(#485bb1 0%, #273b98 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .wrapper-user .dashboard .gallery .img-group {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 15px;
  align-items: stretch;
}
body .wrapper-user .dashboard .gallery .img-group span {
  aspect-ratio: 4/2;
  object-fit: cover;
  display: none;
  position: relative;
  border-radius: 8px;
}
body .wrapper-user .dashboard .gallery .img-group span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
}
body .wrapper-user .dashboard .gallery .img-group span h3 {
  position: absolute;
  padding: 5px 20px;
  color: #fff;
  z-index: 2;
  background-color: #273b98;
  top: 0;
  left: 0;
  border-radius: 8px 0 8px 0;
}
body .wrapper-user .dashboard .gallery .img-group .show {
  display: flex;
}
body .wrapper-user .dashboard .gallery .img-full {
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4745098039);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
}
body .wrapper-user .dashboard .gallery .img-full.active {
  display: flex;
}
body .wrapper-user .dashboard .gallery .img-full .bar {
  display: flex;
  text-align: left;
  align-items: center;
  width: 100%;
  height: max-content;
  justify-content: space-between;
  padding: 10px;
  background-color: #273b98;
  border-radius: 8px;
}
body .wrapper-user .dashboard .gallery .img-full .bar img {
  width: auto;
  height: 100%;
  rotate: 45deg;
}
body .wrapper-user .dashboard .gallery .img-full .bar p {
  font-size: clamp(0.6rem, 4.5vw, 3rem);
  color: #fff;
}
body .wrapper-user .dashboard .gallery .img-full img {
  width: 100%;
  border-radius: 8px;
}
body .wrapper-user .dashboard .gallery .img-full .other-img {
  height: 100px;
  border-radius: 8px;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  overflow: scroll;
  padding: 20px;
  gap: 20px;
}
body .wrapper-user .dashboard .gallery .img-full .other-img img {
  filter: brightness(0.8);
}
body .wrapper-user .dashboard .gallery .img-full .other-img img:hover {
  filter: brightness(0.9);
}
body .wrapper-user .dashboard .gallery .img-full .other-img .this {
  filter: brightness(1);
}
body .wrapper-user .dashboard .gallery .img-full .other-img .this:hover {
  filter: brightness(1);
}
body .wrapper-user .dashboard .gallery button {
  align-self: center;
}
body .wrapper-user .dashboard .news {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-top: 40px;
}
body .wrapper-user .dashboard .news h2 {
  margin-top: 0;
  font-size: clamp(0.6rem, 8.5vw, 5rem);
  font-weight: 700;
  text-align: center;
  background: linear-gradient(#485bb1 0%, #273b98 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .wrapper-user .dashboard .news .news-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 30px;
}
body .wrapper-user .dashboard .news .news-group a {
  flex: 1;
  flex-direction: column;
  display: flex;
  gap: 10px;
}
body .wrapper-user .dashboard .news .news-group a img {
  aspect-ratio: 4/2;
  border-radius: 8px;
  object-fit: cover;
}
body .wrapper-user .dashboard .news .news-group a .news-info {
  display: flex;
  align-items: center;
  height: 20px;
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags {
  position: relative;
  display: flex;
  width: 70%;
  height: 100%;
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags .tags-slider {
  gap: 5px;
  display: flex;
  overflow-x: scroll;
  height: 100%;
  padding: 0 5px;
  width: 100%;
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags .tags-slider p {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  padding: 0 5%;
  border-radius: 4px;
  background-color: #d9ecf6;
  border: 1px solid #007FC4;
  color: #007FC4;
  font-weight: 500;
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags .tags-slider p.tag2 {
  color: #E55941;
  border: 1px solid #E55941;
  background-color: #fbebe8;
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags .tags-slider p.tag3 {
  color: #6741E5;
  border: 1px solid #6741E5;
  background-color: #e9e3ff;
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 5px;
  top: 0;
  right: 0;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
body .wrapper-user .dashboard .news .news-group a .news-info .tags::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 5px;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
body .wrapper-user .dashboard .news .news-group a .news-info .date {
  padding: 0 5px;
  width: 30%;
  text-align: right;
}
body .wrapper-user .dashboard .news .news-group a h3 {
  align-self: flex-start;
  font-weight: 700;
  font-size: clamp(0.6rem, 3.5vw, 2rem);
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
body .wrapper-user .dashboard .news .news-group a h4 {
  color: #4a4a4a;
  font-weight: 500;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
footer .sosmed {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  width: 100%;
  background: linear-gradient(135deg, #0fcbbc 0%, #5f77f7 41%, #8780fc 62%, #a387ff 100%);
  gap: 20px;
  align-items: center;
}
footer .sosmed p {
  text-align: center;
  color: #fff;
  font-size: clamp(0.6rem, 4vw, 2.5rem);
}
footer .sosmed .sosmed-links {
  display: flex;
  flex: 1;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 20px;
}
footer .footer-links .links {
  display: flex;
  flex-direction: column;
}
footer .footer-links .links h3 {
  font-size: clamp(0.6rem, 4.5vw, 3rem);
  margin-bottom: 10px;
}
footer .footer-links .links a {
  text-align: justify;
  display: inline-flex;
  font-weight: 500;
  font-size: clamp(0.6rem, 4vw, 2.5rem);
  gap: 0.4em;
  align-items: center;
}
footer .footer-links .links a img {
  height: 1em;
  aspect-ratio: 1/1;
  filter: brightness(0) saturate(100%) invert(17%) sepia(56%) saturate(3428%) hue-rotate(224deg) brightness(91%) contrast(90%);
}
footer .footer-links .links:nth-child(1) {
  display: none;
}
footer .copyright {
  display: flex;
  width: 100%;
  height: max-content;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  background: linear-gradient(135deg, #0fcbbc 0%, #5f77f7 41%, #8780fc 62%, #a387ff 100%);
}
footer .copyright .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
footer .copyright .logo img {
  height: 30px;
}
footer .copyright p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: clamp(0.6rem, 4vw, 2.5rem);
}

@media only screen and (min-width: 425px) {
  body .mobile-nav .up a {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
  }
  body .mobile-nav .up .branch a {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
  }
  body .mobile-nav .down a {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
  }
  body .wrapper-user .dashboard .banner .change-banner {
    display: flex;
  }
  body .wrapper-user .dashboard h2 {
    font-size: clamp(0.6rem, 3.5vw, 2rem);
  }
  body .wrapper-user .dashboard h1 {
    font-size: clamp(0.6rem, 5.5vw, 3.5rem);
  }
  body .wrapper-user .dashboard .majors .up {
    display: flex;
    padding: 0 30px;
    gap: 5px;
  }
  body .wrapper-user .dashboard .majors .up .change-major {
    width: 10%;
    margin-top: 15%;
    padding: 0;
    align-items: center;
    display: flex;
    rotate: 90deg;
  }
  body .wrapper-user .dashboard .majors .up .change-major.arrow-right {
    rotate: 270deg;
  }
  body .wrapper-user .dashboard .majors .up .change-major img {
    border-radius: 999px;
    background-color: #273b98;
    width: 70%;
    max-width: 70px;
    display: flex;
  }
  body .wrapper-user .dashboard .majors .up .change-major .floating-major {
    display: none;
  }
  body .wrapper-user .dashboard .majors .up .major-slider {
    width: 90%;
  }
  body .wrapper-user .dashboard .majors .up .major-slider .major-content img {
    width: 100%;
  }
  body .wrapper-user .dashboard .majors .up .major-slider .major-content h2 {
    font-size: clamp(0.6rem, 4.5vw, 3rem);
  }
  body .wrapper-user .dashboard .majors .up .major-slider .major-content h3 {
    font-size: clamp(0.6rem, 3.5vw, 2rem);
  }
  body .wrapper-user .dashboard .majors .change-major {
    justify-content: center;
  }
  body .wrapper-user .dashboard .majors .change-major img {
    display: none;
  }
  body .wrapper-user .dashboard .majors .change-major .major-counter {
    height: 60%;
  }
  body .wrapper-user .dashboard .gallery h2 {
    font-size: clamp(0.6rem, 4.5vw, 3rem);
  }
  body .wrapper-user .dashboard .gallery .img-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .wrapper-user .dashboard .gallery .img-group span {
    width: 47%;
    display: flex;
  }
  body .wrapper-user .dashboard .gallery .img-group span h3 {
    font-size: clamp(0.4rem, 1.25vw, 1rem);
  }
  body .wrapper-user .dashboard .news h2 {
    font-size: clamp(0.6rem, 4.5vw, 3rem);
    margin-bottom: 20px;
  }
  body .wrapper-user .dashboard .news .news-group {
    width: 100%;
    padding: 0 10%;
    margin-bottom: 30px;
  }
  footer .sosmed {
    flex-direction: row;
    padding: 20px 40px;
  }
  footer .sosmed p {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
  }
  footer .sosmed img {
    height: 2em;
  }
  footer .footer-links .links {
    gap: 5px;
  }
  footer .footer-links .links h3 {
    font-size: clamp(0.6rem, 3.5vw, 2rem);
  }
  footer .footer-links .links a {
    font-size: clamp(0.6rem, 3.5vw, 2rem);
  }
}
@media only screen and (min-width: 768px) {
  body .navigation-user .left {
    flex: 1;
  }
  body .navigation-user .left a img {
    width: 70%;
    height: auto;
  }
  body .navigation-user .center {
    flex: 1;
    display: flex;
  }
  body .navigation-user .center .links a {
    font-size: calc(clamp(0.4rem, 1.25vw, 1rem) * 1.4);
  }
  body .navigation-user .right {
    flex: 1;
  }
  body .navigation-user .right .burger {
    display: none;
  }
  body .navigation-user .right a {
    display: flex;
    height: 80%;
  }
  body .mobile-nav {
    display: none;
  }
  body .wrapper-user .dashboard .banner .change-banner {
    display: flex;
  }
  body .wrapper-user .dashboard h2 {
    font-size: clamp(0.6rem, 3.5vw, 2rem);
  }
  body .wrapper-user .dashboard h1 {
    font-size: clamp(0.6rem, 5.5vw, 3.5rem);
  }
  body .wrapper-user .dashboard .majors .up {
    display: flex;
    padding: 0 100px;
    gap: 5px;
  }
  body .wrapper-user .dashboard .majors .up .change-major {
    width: 10%;
    margin-top: 15%;
    padding: 0;
    align-items: center;
    display: flex;
    cursor: pointer;
    position: relative;
    rotate: 0deg;
  }
  body .wrapper-user .dashboard .majors .up .change-major img {
    transform: rotate(90deg);
    border-radius: 999px;
    background-color: #273b98;
    width: 70%;
    max-width: 70px;
    display: flex;
    position: relative;
  }
  body .wrapper-user .dashboard .majors .up .change-major.arrow-right {
    rotate: 0deg;
    transform: rotate(0deg);
  }
  body .wrapper-user .dashboard .majors .up .change-major.arrow-right img {
    transform: rotate(270deg);
  }
  body .wrapper-user .dashboard .majors .up .change-major.arrow-right .floating-major {
    transform: rotate(0deg);
    transform: scale(0);
  }
  body .wrapper-user .dashboard .majors .up .change-major .floating-major {
    position: absolute;
    z-index: -1;
    border-radius: 0;
    aspect-ratio: 1/1;
    background-color: #000;
    transform: scale(0);
    transition: 0.4s;
    rotate: 0deg;
    display: flex;
    top: 0;
  }
  body .wrapper-user .dashboard .majors .up .change-major:hover .floating-major {
    transform: scale(1);
    top: -100px;
  }
  body .wrapper-user .dashboard .majors .up .major-slider {
    width: 90%;
  }
  body .wrapper-user .dashboard .majors .up .major-slider .major-content img {
    width: 100%;
  }
  body .wrapper-user .dashboard .majors .up .major-slider .major-content h2 {
    font-size: clamp(0.6rem, 4.5vw, 3rem);
  }
  body .wrapper-user .dashboard .majors .up .major-slider .major-content h3 {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
  }
  body .wrapper-user .dashboard .majors .change-major {
    justify-content: center;
  }
  body .wrapper-user .dashboard .majors .change-major img {
    display: none;
  }
  body .wrapper-user .dashboard .majors .change-major .major-counter {
    height: 60%;
  }
  body .wrapper-user .dashboard .gallery h2 {
    font-size: clamp(0.6rem, 4.5vw, 3rem);
  }
  body .wrapper-user .dashboard .gallery .img-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .wrapper-user .dashboard .gallery .img-group span {
    flex: 0 0 calc(33.333% - 10px);
    display: flex;
  }
  body .wrapper-user .dashboard .gallery .img-group span h3 {
    font-size: clamp(0.4rem, 1.25vw, 1rem);
  }
  body .wrapper-user .dashboard .news h2 {
    font-size: clamp(0.6rem, 4.5vw, 3rem);
    margin-bottom: 20px;
  }
  body .wrapper-user .dashboard .news .news-group {
    width: 100%;
    padding: 0 10%;
    margin-bottom: 30px;
    padding: 0 50px;
    gap: 20px;
    flex-direction: row;
  }
  body .wrapper-user .dashboard .news .news-group a {
    flex: 1;
  }
  body .wrapper-user .dashboard .news .news-group a img {
    width: 100%;
  }
  body .wrapper-user .dashboard .news .news-group a .news-info .tags p {
    font-size: clamp(0.2rem, 1vw, 0.85rem);
  }
  body .wrapper-user .dashboard .news .news-group a .news-info .date p {
    font-size: clamp(0.2rem, 1vw, 0.85rem);
  }
  body .wrapper-user .dashboard .news .news-group a h3 {
    font-size: clamp(0.4rem, 1.25vw, 1rem);
  }
  body .wrapper-user .dashboard .news .news-group a h4 {
    font-size: clamp(0.2rem, 1vw, 0.85rem);
  }
  footer .sosmed {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 80px;
  }
  footer .sosmed p {
    font-size: clamp(0.4rem, 1.25vw, 1rem);
  }
  footer .sosmed .sosmed-links {
    justify-content: end;
  }
  footer .sosmed img {
    height: 1.5em;
  }
  footer .footer-links {
    flex-direction: row;
    padding: 40px 80px;
  }
  footer .footer-links .links {
    flex: 1;
    gap: 5px;
  }
  footer .footer-links .links h3 {
    font-size: clamp(0.6rem, 2vw, 1.5rem);
  }
  footer .footer-links .links a {
    font-size: clamp(0.4rem, 1.25vw, 1rem);
  }
}

/*# sourceMappingURL=app.css.map */
