@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  background-color: transparent;
  color: rgb(0, 0, 156);
  filter: none;
}
::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

@keyframes openSidebar {
  0% {
    width: 100px;
    min-width: 100px;
  }
  100% {
    width: 300px;
    min-width: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    width: 300px;
    min-width: 300px;
  }
  100% {
    width: 100px;
    min-width: 100px;
  }
}
@keyframes openSidebarCandidate {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes closeSidebarCandidate {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
    display: none;
  }
}
@keyframes line-break {
  100% {
    width: 100%;
  }
}
@keyframes rotate-y-360 {
  100% {
    rotate: 360deg;
  }
}
@media screen and (min-width: 98px) {
  .navigation-side {
    width: inherit !important;
  }
}
body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  background-color: transparent;
  color: rgb(0, 0, 156);
  filter: none;
}

::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}

*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  background-color: transparent;
  color: rgb(0, 0, 156);
  filter: none;
}
::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

.alert-message {
  width: 100vw;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  text-align: center;
  z-index: 999;
  animation: animate-alert 300ms forwards;
}
.alert-message .preview-media {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.alert-message .preview-media .management-table,
.alert-message .preview-media .wrapper-content-media {
  height: 100%;
}
.alert-message .preview-media .wrapper-image {
  border-radius: 8px;
  background-color: #fff;
}
.alert-message .card-message {
  min-width: 320px;
  max-width: 350px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 16px;
}
.alert-message .card-message span {
  font-size: clamp(0.2rem, 1vw, 0.85rem);
}
.alert-message .card-message .wrapper-button {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.alert-message .card-message .wrapper-button button {
  padding: 10px;
}
.alert-message .delete-message {
  color: red;
}
.alert-message .delete-message button {
  border-color: red;
  color: red;
}
.alert-message .delete-message .btn-delete-anouncement {
  color: white;
  background-color: red;
  font-weight: bolder;
}
.alert-message .delete-message .cooldown {
  background-color: #424242;
  cursor: not-allowed;
  border: none;
}
.alert-message button {
  padding: 15px 5px;
  background-color: transparent;
  color: #273b98;
  border: 1px solid #273b98;
  border-radius: 5px;
  cursor: pointer;
}
.alert-message .btn-yes-anouncement {
  color: white;
  background-color: #273b98;
}
@keyframes animate-alert {
  0% {
    justify-content: start;
  }
  100% {
    justify-content: center;
  }
}
.alert-message .card-form {
  width: 480px;
  min-height: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  display: none;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  text-align: start;
}
.alert-message .card-form h4 {
  margin-top: 5px;
}
.alert-message .card-form .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.alert-message .card-form .wrapper-input label {
  font-size: clamp(0.4rem, 1.25vw, 1rem);
}
.alert-message .card-form .wrapper-input label span {
  color: red;
}
.alert-message .card-form .wrapper-input input,
.alert-message .card-form .wrapper-input select {
  height: 45px;
  padding: 5px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #273b98;
  outline: none;
}

body {
  font-family: "Montserrat", "sans-serif";
  background-color: #fff;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  color: #273b98;
}

::selection {
  background-color: transparent;
  color: rgb(0, 0, 156);
  filter: none;
}
::selection:hover {
  filter: none;
}

.selector {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: opacity 0.4s;
}
*::-webkit-scrollbar {
  display: none;
}

img {
  object-fit: fill;
  object-position: center;
}

@keyframes openSidebar {
  0% {
    width: 100px;
    min-width: 100px;
  }
  100% {
    width: 300px;
    min-width: 300px;
  }
}
@keyframes closeSidebar {
  0% {
    width: 300px;
    min-width: 300px;
  }
  100% {
    width: 100px;
    min-width: 100px;
  }
}
@keyframes openSidebarCandidate {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes closeSidebarCandidate {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
    display: none;
  }
}
@keyframes line-break {
  100% {
    width: 100%;
  }
}
@keyframes rotate-y-360 {
  100% {
    rotate: 360deg;
  }
}
@media screen and (min-width: 98px) {
  .navigation-side {
    width: inherit !important;
  }
}
.profile:hover > ul {
  display: flex;
}

.profile {
  position: relative;
}
.profile .icon {
  font-size: clamp(0.6rem, 3.5vw, 2rem);
}
.profile .icon span {
  cursor: pointer;
}
.profile .main-menu {
  min-width: calc(clamp(0.6rem, 3.5vw, 2rem) * 5.5);
  width: max-content;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
  background-color: #eaf7f9;
  border: 1px solid #273b98;
  border-radius: 10px;
}
.profile .main-menu li {
  font-size: clamp(0.2rem, 1vw, 0.85rem);
  padding: 5px;
  border-bottom: 1px solid white;
  position: relative;
}
.profile .main-menu li a, .profile .main-menu li button {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  color: #273b98;
  cursor: pointer;
}
.profile .main-menu li button {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.profile .main-menu li::before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #273b98;
}
.profile .main-menu li:hover::before {
  animation: line-break 1500ms forwards;
}

img {
  font-size: 14px;
}

.login {
  max-width: 800px;
  min-height: 300px;
  width: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  box-shadow: -5px 0 5px #0fcbbc, 0 -5px 5px #8780fc, 0 5px 5px #8780fc, 5px 0 5px #5f77f7;
}
.login .title {
  max-width: 400px;
  width: calc(100% - 200px);
  min-width: 300px;
  font-size: calc(clamp(0.6rem, 2vw, 1.5rem) - 0.3rem);
}
.login .wrapper-field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login .wrapper-field .wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login .wrapper-field .wrapper-input label {
  font-size: clamp(0.4rem, 1.25vw, 1rem);
  color: #273b98;
  font-weight: 600;
}
.login .wrapper-field .wrapper-input input {
  width: 100%;
  min-width: 200px;
  height: 45px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #273b98;
}
.login .buttons button {
  height: clamp(0.6rem, 4vw, 2.5rem);
  border-radius: 4px;
}
.login .footers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.2rem, 1vw, 0.85rem);
}
.login .footers .link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login .footers .link p {
  color: black;
}
.login .footers .link a {
  color: #273b98;
}

.rotate-y-360 {
  animation: rotate-y-360 600ms alternate-reverse infinite;
}

.open-sidebar {
  animation: openSidebar 200ms forwards;
}

.close-sidebar {
  animation: closeSidebar 200ms forwards;
}

.open-sidebar-candidate {
  animation: openSidebarCandidate 800ms forwards;
}

.close-sidebar-candidate {
  animation: closeSidebarCandidate 800ms forwards;
}

.button-submit-form {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #273b98;
  color: #273b98;
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  min-height: 30px;
  padding: 10px;
  font-size: clamp(0.4rem, 1.25vw, 1rem);
  font-weight: bold;
  color: #273b98;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-submit {
  background-color: #273b98;
  color: #fff;
}

.btn-svg {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-media {
  min-width: max-content;
  background-color: transparent;
  color: rgba(95, 119, 247, 0.6);
  border: 2px solid rgba(95, 119, 247, 0.6);
}
.btn-media:hover {
  color: #273b98;
  border-color: #273b98;
}

.mt-25 {
  margin-top: 25px;
}

.text-center {
  width: 100%;
  text-align: center;
}

.static {
  position: static;
}

.transparent {
  background-color: transparent;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.tree-row-grid {
  grid-template-columns: repeat(3, 1fr) !important;
}

.w-full {
  width: 100%;
}

.pad-0 {
  padding: 0 !important;
}

.flex-row {
  flex-direction: row !important;
}

.justify-start {
  justify-content: start !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.items-start {
  align-items: start !important;
}

.items-center {
  align-items: center !important;
}

.justify-self-center {
  justify-self: center !important;
}

.self-center {
  align-self: center !important;
}

.self-end {
  align-self: flex-end !important;
}

.hidden {
  display: none !important;
}

.inside-container {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.wrapper-payment-methode {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: clamp(0.4rem, 1.25vw, 1rem);
}
.wrapper-payment-methode .wrapper-detail-payment {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper-payment-methode .wrapper-detail-payment img {
  width: 30px;
  height: 30px;
}

.wrapper-charts {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 100px;
}
.wrapper-charts .wrapper-chart {
  display: flex;
  gap: 20px;
}
.wrapper-charts .wrapper-chart div:first-child {
  width: 350px;
  height: 350px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #273b98;
}
.wrapper-charts .wrapper-chart div:first-child.linechart {
  min-width: 650px;
  min-height: 350px;
  width: max-content;
  height: max-content;
  justify-content: start;
  gap: 40px;
}
.wrapper-charts .wrapper-chart div:first-child canvas {
  width: 100%;
}
.wrapper-charts .wrapper-chart .chart-action {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-charts .wrapper-chart .chart-action button {
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  scale: 0.8;
}

.wrapper-candidate {
  width: 100vw;
  height: max-content;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #273b98;
}
.wrapper-candidate .bar-top {
  width: inherit;
  height: 10vw;
  max-height: 80px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: solid 1px #dfdfdf;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.wrapper-candidate .bar-top .main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.wrapper-candidate .bar-top .main-menu .logo {
  margin-top: 20px;
}
.wrapper-candidate .bar-top .main-menu .menus {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrapper-candidate .bar-top .main-menu .menus .menu {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  font-size: calc(clamp(0.6rem, 4.5vw, 3rem) - 1vw);
}
.wrapper-candidate .bar-top .main-menu .menus .menu a {
  display: flex;
  align-items: center;
  gap: 5PX;
}
.wrapper-candidate .bar-top .main-menu .menus .menu-selected {
  color: #fff;
  background-color: rgba(39, 42, 56, 0.7);
  font-weight: bold;
}
.wrapper-candidate .bar-top .main-menu .menus .menu:hover {
  color: #fff;
  background-color: rgba(39, 42, 56, 0.7);
  font-weight: bold;
}
.wrapper-candidate .bar-top .main-menu .menus .menu:hover svg path {
  fill: white;
  stroke: white;
}
.wrapper-candidate .bar-top .main-menu .actions {
  padding-bottom: 20px;
  display: flex;
}

.content {
  width: inherit;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.content .accessoris {
  content: "";
  width: inherit;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .accessoris .rounded {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(135deg, #0fcbbc 0%, #5f77f7 41%, #8780fc 62%, #a387ff 100%);
  padding: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .accessoris .rounded .round {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: inherit;
}
.content .accessoris .stars {
  width: 100px;
  height: 100px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content .accessoris .stars img {
  width: 50px;
  height: 50px;
}
.content .accessoris .stars img:nth-child(2) {
  align-self: flex-end;
}

/*# sourceMappingURL=candidate.css.map */
