@import 'animation.scss';
@import '../components/alert';
@import '../components/profile';

.login{
    max-width: 800px;
    min-height: 300px;
    width: max-content;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    border-radius: 10px;

    background-color: $color-primary;

    position: relative;

    box-shadow:
        -5px 0 5px #0fcbbc,
        0 -5px  5px #8780fc,
        0 5px  5px #8780fc,
        5px 0 5px #5f77f7;


    .title{
        max-width: 400px;
        width: calc(100% - 200px);
        min-width: 300px;
        font-size: calc($font-size-l -  .3rem);
    }

    .wrapper-field{
        display: flex;
        flex-direction: column;
        gap: 15px;

        .wrapper-input{
            
            display: flex;
            flex-direction: column;
            gap: 5px;

            label{
                font-size: $font-size-m;
                color:$color-accent;

                font-weight: 600;
            }

            input{
                width: 100%;
                min-width: 200px;
                height: 45px;
                padding: 5px;
                padding-left: 10px;

                border-radius: 4px;
                outline: none;
                border: 1px solid $color-accent;
            }
        }
    }

    .buttons{
        button{
            height: $font-size-2xl;
            border-radius: 4px;
        }
    }
    .footers{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;  

        font-size: $font-size-s;

        .link{
            display: flex;
            align-items: center;
            gap: 5px;

            p{
                color: black;
            }
            a{
                color: $color-accent;
            }
        }
    }
}


.open-sidebar {
    animation: openSidebar 200ms forwards;
}

.close-sidebar {
    animation: closeSidebar 200ms forwards;
}

.button-submit-form {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;

    position: fixed;
    bottom: 10px;
    right: 10px;

    border: 1px solid $color-accent;
    color: $color-accent;
    background-color: transparent;
    border-radius: 8px;
    font-weight: bold;

    cursor: pointer;
}

.btn {
    min-height: 30px;
    padding: 10px;

    font-size: $font-size-m;
    font-weight: bold;
    
    color: $color-accent;
    
    border: none;
    border-radius: $border-radius;
    
    cursor: pointer;
}

.btn-submit {
    background-color: $color-accent;
    color: $color-primary;
}

.btn-svg {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-media{
    min-width: max-content;
    background-color: transparent;
    color: $color-secondary-background;
    border: 2px solid $color-secondary-background;

    &:hover{
        color: $color-accent;
        border-color:  $color-accent;
    }
}

.static {
    position: static;
}

.transparent {
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.tree-row-grid {
    grid-template-columns: repeat(3, 1fr) !important;
}


.w-full{
    width: 100%;
}

.pad-0{
    padding: 0 !important;
}

.flex-row{
    flex-direction: row !important;
}

.justify-start{
    justify-content: start !important;
}

.justify-center{
    justify-content: center !important;
}

.justify-between{
    justify-content: space-between !important;
}

.items-start{
    align-items: start !important;
}

.items-center{
    align-items: center !important;
}

.justify-self-center{
    justify-self: center !important;
}


.self-center{
    align-self: center !important;
}

.self-end{
    align-self: flex-end !important;
}