@import 'animation.scss';
@import '../components/alert';
@import '../components/profile';

// element

img{
    font-size: 14px;
}



.wrapper-login
{
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .login
    {
        width: 80%;
        max-width: unset;
        background-color: #fff;
        align-self: center;
        padding: 20px;
        border-radius: calc($border-radius * 2);
        position: relative;
        
        &::before
        {
            content: "";
            z-index: -1;
            border-radius: calc($border-radius * 2 + 2.5px);
            background: $color-bi-gradient;
            position: absolute;
            width: calc(100% + 5px);
            height: calc(100% + 6px);
            top: 0;
            left: 0;
            filter: blur(6px);
            transform: translate(-2.5px, -3px);
        }
    
        .title
        {
            h4{font-size: $font-size-3xl;}
            p{font-size: $font-size-xl;}
        }
    
        .wrapper-field
        {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .wrapper-input
            {
                display: flex;
                flex-direction: column;
                gap: 5px;
    
                label{font-size: $font-size-2xl;}
    
                input
                {
                    padding: 10px; 
                    font-size: $font-size-xl; 
                    border-radius: $border-radius;
                    border: 1px solid $color-accent; 
                    color: $color-accent;
    
                    &:focus
                    {
                        outline: none;
                    }
                }
            }
    
            .buttons
            {
                margin-top: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                button
                {
                    font-size: $font-size-xl;
                    font-weight: 400;
                }

                a
                {
                    display: flex;
                    border-radius: $border-radius;
                    background-color: #181818;
                    font-size: $font-size-xl;
                    padding: 10px 20px;
                    align-items: center;
                    font-weight: 400;
                    color: #fff;
                    justify-content: space-around;

                    img{height: 1.5em;}
                }
            }
    
            .footers
            {
                .link
                {
                    text-align: center;
                    margin-bottom: .5em;

                    a
                    {
                        font-size: $font-size-l;
                    }
                }
            }
        }
    }

    .trinkets
    {
        position: absolute;
    }

    .circle
    {
        z-index: -3;
        width: 100vw;
        bottom: 0;
        left: -30vw;
        aspect-ratio: 1/1;
        background: $color-bi-gradient;
        display: flex;
        border-radius: 999px;
        align-items: center;
        justify-content: center;
        
        &::after
        {
            content: "";
            border-radius: 999px;
            position: absolute;
            background-color: #fff;
            aspect-ratio: 1/1;
            width: calc(100% - 70px);
        }
    }

    .star-group
    {
        &.g1
        {
            bottom: 20px;
            right: 0;

            img
            {
                width: 10vw;
                rotate: 0deg;
                margin-bottom: 10px;
                margin-right: 5px;
                
                &:nth-child(2)
                {
                    margin-bottom: 0;
                    rotate: 20deg;
                }
            }

        }
        &.g2
        {
            top: 30px;
            left: -5vw;
    
            img
            {
                width: 10vw;
                rotate: -20deg;
    
                &:nth-child(2)
                {
                    rotate: -10deg;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 425px) 
{
    .wrapper-login
    {

        .login
        {
            max-width: 50vw;

            .title
            {
                h4{font-size: $font-size-xl;}
                p{font-size: $font-size-l;}
            }

            .wrapper-field
            {
                .wrapper-input
                {
                    label{font-size: $font-size-l;}
                    input{font-size: $font-size-l;}
                }
                .buttons
                {
                    button{font-size: $font-size-l;}
                    a{font-size: $font-size-l;}
                }
                .footers
                {
                    .link
                    {
                        a{font-size: calc($font-size-m * 1.3);}
                    }
                }
            }
        }

        
    .trinkets
    {
        position: absolute;
    }

    .circle
    {
        z-index: -3;
        width: 50vw;
        top: 0;
        bottom: unset;
        right: 10vw;
        left: unset;
        aspect-ratio: 1/1;
        background: $color-bi-gradient;
        display: flex;
        border-radius: 999px;
        align-items: center;
        justify-content: center;
        
        &::after
        {
            content: "";
            border-radius: 999px;
            position: absolute;
            background-color: #fff;
            aspect-ratio: 1/1;
            width: calc(100% - 60px);
        }
    }

    .star-group
    {
        &.g1
        {
            bottom: 20px;
            right: 0;

            img
            {
                width: 10vw;
                rotate: 0deg;
                margin-bottom: 10px;
                margin-right: 5px;
                
                &:nth-child(2)
                {
                    margin-bottom: 0;
                    rotate: 20deg;
                }
            }

        }
        &.g2
        {
            top: 30px;
            left: -5vw;
    
            img
            {
                width: 10vw;
                rotate: -20deg;
    
                &:nth-child(2)
                {
                    rotate: -10deg;
                    margin-bottom: 20px;
                }
            }
        }
    }
    }

}

@media only screen and (min-width: 768px) 
{
    .wrapper-login
    {
        .login
        {
            max-width: 35vw;

            .title
            {
                h4{font-size: $font-size-l;}
                p{font-size: $font-size-m;}
            }

            .wrapper-field
            {
                .wrapper-input
                {
                    label{font-size: $font-size-m;}
                    input{font-size: $font-size-m;}
                }
                .buttons
                {
                    button{font-size: $font-size-m;}
                    a{font-size: $font-size-m;}
                }
                .footers
                {
                    .link
                    {
                        a{font-size: $font-size-m;}
                    }
                }
            }
        }

        
    .trinkets
    {
        position: absolute;
    }

    .circle
    {
        z-index: -3;
        width: 35vw;
        bottom: -100px;
        left: -100px;
        right: unset;
        top: unset;
        aspect-ratio: 1/1;
        background: $color-bi-gradient;
        display: flex;
        border-radius: 999px;
        align-items: center;
        justify-content: center;
        
        &::after
        {
            content: "";
            border-radius: 999px;
            position: absolute;
            background-color: #fff;
            aspect-ratio: 1/1;
            width: calc(100% - 50px);
        }
    }

    .star-group
    {
        &.g1
        {
            bottom: 20px;
            right: 10vw;

            img
            {
                width: 3vw;
                rotate: 0deg;
                margin-bottom: 10px;
                margin-right: 5px;
                
                &:nth-child(2)
                {
                    margin-bottom: 0;
                    rotate: 20deg;
                }
            }

        }
        &.g2
        {
            top: 30px;
            left: 10vw;
    
            img
            {
                width: 3vw;
                rotate: -20deg;
    
                &:nth-child(2)
                {
                    rotate: -10deg;
                    margin-bottom: 20px;
                }
            }
        }
    }
    }

}











.rotate-y-360{
    animation: rotate-y-360 600ms alternate-reverse infinite;
}

.open-sidebar {
    animation: openSidebar 200ms forwards;
}

.close-sidebar {
    animation: closeSidebar 200ms forwards;
}

.open-sidebar-candidate {
    animation: openSidebarCandidate 800ms forwards;
}

.close-sidebar-candidate {
    animation: closeSidebarCandidate 800ms forwards;
}

.button-submit-form {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;

    position: fixed;
    bottom: 10px;
    right: 10px;

    border: 1px solid $color-accent;
    color: $color-accent;
    background-color: $color-primary;
    border-radius: 8px;
    font-weight: bold;

    cursor: pointer;
}

.btn {
    min-height: 30px;
    padding: 10px;

    font-size: $font-size-m;
    font-weight: bold;
    
    color: $color-accent;
    
    border: none;
    border-radius: $border-radius;
    
    cursor: pointer;
}

.btn-submit {
    background-color: $color-accent;
    color: $color-primary;
}

.btn-svg {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-media{
    min-width: max-content;
    background-color: transparent;
    color: $color-secondary-background;
    border: 2px solid $color-secondary-background;

    &:hover{
        color: $color-accent;
        border-color:  $color-accent;
    }
}

.mt-25{
    margin-top: 25px;
}

.text-center{
    width: 100%;
    text-align: center;
}

.static {
    position: static;
}

.transparent {
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.tree-row-grid {
    grid-template-columns: repeat(3, 1fr) !important;
}


.w-full{
    width: 100%;
}

.pad-0{
    padding: 0 !important;
}

.flex-row{
    flex-direction: row !important;
}

.justify-start{
    justify-content: start !important;
}

.justify-center{
    justify-content: center !important;
}

.justify-between{
    justify-content: space-between !important;
}

.items-start{
    align-items: start !important;
}

.items-center{
    align-items: center !important;
}

.justify-self-center{
    justify-self: center !important;
}


.self-center{
    align-self: center !important;
}

.self-end{
    align-self: flex-end !important;
}

.hidden{
    display: none !important;
}