$width-mobile:100vw;
@keyframes openSidebar {
    0% {
        width: 100px;
        min-width: 100px;
    }

    100% {
        width: 300px;
        min-width: 300px;
    }
}

@keyframes closeSidebar {
    0% {
        width: 300px;
        min-width: 300px;
    }

    100% {
        width: 100px;
        min-width: 100px;
    }
}

@keyframes openSidebarCandidate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes closeSidebarCandidate {
    0% {
        width: 100%;
    }

    100% {
       width: 0;
       display: none;
    }
}

@keyframes line-break {
    100% {
        width: 100%;
    }
}

@keyframes rotate-y-360{
    100%{
        rotate: 360deg;
    }
}


@media screen and (min-width:98px) {
    $width-mobile : 300px !important;
    .navigation-side{
        width: inherit !important;
    }
}