@keyframes openSidebar {
    0% {
        width: 100px;
        min-width: 100px;
    }

    100% {
        width: 300px;
        min-width: 300px;
    }
}

@keyframes closeSidebar {
    0% {
        width: 300px;
        min-width: 300px;
    }

    100% {
        width: 100px;
        min-width: 100px;
    }
}

@keyframes line-break {
    100% {
        width: 100%;
    }
}

@keyframes rotate-y-360{
    100%{
        rotate: 360deg;
    }
}
